.body-section {
    height: calc(100% - 50px);
    background-color: transparent;
}

.body-welcome-row {
    text-align: center;
    padding-top: 3em;
}

.body-welcome-seperator {
    text-align: center;
    font-size: 2em;
    color: lightgray;
}

.body-welcome-row-text {
    font-size: 7em;
    font-weight: 100;
    font-style: normal;
    color: lightgray;
}

.body-welcome-seperator-line {
    margin-top: 14px;
    border: 1px solid lightgray;
}

.body-spacer {
    margin-top: 25em;
}

.body-tag-line-row {
    text-align: center;
}

.body-tag-line-row > span {
    color: lightgray;
    font-size: 2em;
    font-weight: 100;
}

@media (max-width: 768px) {
    .body-welcome-row-text {
        font-size: 3em;
    }

    .body-welcome-seperator {
        font-size: 1.5em;
    }

    .body-welcome-seperator-line {
    }
}

@media (max-height: 800px), (max-width: 768px) {
    .body-spacer {
        margin-top: 15em;
    }

    .body-tag-line-row {
        background-color: grey;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .body-tag-line-row > span {
        font-size: 1.5em;
    }
}