.header-section {
    height: 50px;
    background-color: transparent;
}

.header-section > i.ion-ios-arrow-left{
    color: lightgray;
    font-size: 3em;
    padding-left: 5px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 5px;
}

@media (max-width: 768px){
    .header-section > i.fa-bars{
        color: lightgray;
        font-size: 2em;
    }
}