@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    /*src: url(Montserrat_100_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_100_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_100_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/CdKWaRAal2Bxq9mORLKRRXhCUOGz7vYGh680lGh-uXM.woff */ url(Montserrat_100_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/montserrat/v10/CdKWaRAal2Bxq9mORLKRRZS3E-kSBmtLoNJPDtbj2Pk.ttf */
    /*url(Montserrat_100_normal.svg#Montserrat_100_normal) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 200;
    /*src: url(Montserrat_200_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_200_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_200_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYjaxp4ivTFcMoDJtPEqAe9hmM.woff */ url(Montserrat_200_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/eWRmKHdPNWGn_iFyeEYja-AdrrTgZdYnjtE8WaHSNSY.ttf */
    /*url(Montserrat_200_normal.svg#Montserrat_200_normal) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    /*src: url(Montserrat_300_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_300_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_300_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE9kZXW4sYc4BjuAIFc1SXII.woff */ url(Montserrat_300_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/IVeH6A3MiFyaSEiudUMXE2cbqnd1g9zt-QKibAzZSRA.ttf */
    /*url(Montserrat_300_normal.svg#Montserrat_300_normal) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    /*src: url(Montserrat_400_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_400_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYBsxEYwM7FgeyaSgU71cLG0.woff */ url(Montserrat_400_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYMDdSZkkecOE1hvV7ZHvhyU.ttf */
    /*url(Montserrat_400_normal.svg#Montserrat_400_normal) format('svg'); !* http://fonts.gstatic.com/l/font?kit=zhcz-_WihjSQC0oHJ9TCYKWUboTb-jS2tyCOQMtm97g&skey=7bc19f711c0de8f&v=v10#Montserrat *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    /*src: url(Montserrat_500_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_500_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/BYPM-GE291ZjIXBWrtCweu46x7QEqGuF-FJIFiH1W2g.woff */ url(Montserrat_500_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/BYPM-GE291ZjIXBWrtCwega_vOBgExnIm1pijVMmxB0.ttf */
    /*url(Montserrat_500_normal.svg#Montserrat_500_normal) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    /*src: url(Montserrat_600_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_600_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_600_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl024H_cQCpNmkmj7HsMzmiiM.woff */ url(Montserrat_600_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/q2OIMsAtXEkOulLQVdSl07dOf5GikiuHJiioPSOPnhA.ttf */
    /*url(Montserrat_600_normal.svg#Montserrat_600_normal) forxmat('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    /*src: url(Montserrat_700_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_700_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcgFhaRv2pGgT5Kf0An0s4MM.woff */ url(Montserrat_700_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/IQHow_FEYlDC4Gzy_m8fcsBaWKZ57bY3RXgXH6dOjZ0.ttf */
    /*url(Montserrat_700_normal.svg#Montserrat_700_normal) forx/mat('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    /*src: url(Montserrat_800_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_800_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_800_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/H8_7oktkjVeeX06kbAvc0CS-0kw_uRLN9JEz12uqVRQ.woff */ url(Montserrat_800_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/H8_7oktkjVeeX06kbAvc0KGaZlbhosjp779nyf-ctkc.ttf */
    /*url(Montserrat_800_normal.svg#Montserrat_800_normal) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    /*src: url(Montserrat_900_normal.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_900_normal.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/aEu-9ATAroJ1iN4zmQ55BoPAkl-0rCkX4F4zIO7lYWE.woff */ url(Montserrat_900_normal.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/aEu-9ATAroJ1iN4zmQ55BkXtYwHQ0x3NzTyFUvGxVP8.ttf */
    /*url(Montserrat_900_normal.svg#Montserrat_900_normal) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 100;
    /*src: url(Montserrat_100_italic.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_100_italic.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_100_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/1809Y0aW9bpFOPXsQTFwfy1dfeF-hbOdKKuBDEXxqhQ.woff */ url(Montserrat_100_italic.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/1809Y0aW9bpFOPXsQTFwfwcqhJGA2L1PEeyZ-CMmBrk.ttf */
    /*url(Montserrat_100_italic.svg#Montserrat_100_italic) format('svg'); !* {{svg-gf-url}} *!*/
}

@font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 200;
    /*src: url(Montserrat_200_italic.eot); !* {{embedded-opentype-gf-url}} *!*/
    src: local('☺'),
        /*url(Montserrat_200_italic.eot?#iefix) format('embedded-opentype'), !* {{embedded-opentype-gf-url}} *!*/ url(Montserrat_200_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft_7J9eW2S58LCMPoFblzf2g.woff */ url(Montserrat_200_italic.ttf) format('truetype') /* http://fonts.gstatic.com/s/montserrat/v10/zhwB3-BAdyKDf0geWr9Ft3aFXmmYStGj1PA_2XxvxZg.ttf */
    /*url(Montserrat_200_italic.svg#Montserrat_200_italic) format('svg'); !* {{svg-gf-url}} *!*/
}
