html, body, #root {
    height: 100%;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
}

html {
    background-color: transparent;
    background: url('/images/road-nature-hand-path.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.App {
    height: 100%;
    background-color: transparent;
}